[my_repl_interactive] {
	height: 100%;
	width: 100%;
}
[my_repl_interactive_abs_button] {
	position: absolute;
	right: 0;
	margin: 0.5rem;
}
[my_repl_interactive_placeholder] {
	display: flex;
	flex-direction: row;
}
[my_repl_interactive_info] {
	height: 100%;
}

[my_repl_interactive_tab] {
	width: 50%;
	position: relative;
}
[my_repl_interactive_treesource] {
	height: 100%;
}

[my_repl_interactive_tssource] {
	height: 100%;
}

[my_repl_interactive_csssource] {
	height: 100%;
}
